#pricing-area{
    background-color: #f4f7fe;
    padding-bottom: 70px;
    padding-top: 100px;
    padding-left: 0.7rem;
    width: 100%;
}
.pricing-area-title{
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: center;
}
.pricing-area-title h2{
    display: inline-block;
    font-size: 44px;
    margin-bottom: 0;
    position: relative;
    font-weight: 800;
    line-height: 1.2;
}
.pricing-area-title p{
    display: block;
    margin: 12px auto 0 auto;
    max-width: 600px;
    color: #6b6b84;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.8;
}
.pricing-container-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-top: -1rem;
    justify-content: center;
}
.pricing-container:hover{
    box-shadow: 0 10px 30px rgba(0,0,0,.07);
}
.pricing-container-wrapper .pricing-container{
    flex: 0 0 auto;
    max-width: 1148px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
    transition: 0.5s;
    margin-left: 1.5rem;
}
.pricing-header{
    padding: 20px 40px;
    text-align: center;
}
.pricing-header h3{
    font-size: 24px;
    margin-bottom: -5px;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 0;
}
.pricing-container .price{
    border-bottom: 2px dashed #f4f5fe;
    border-top: 2px dashed #f4f5fe;
    color: #221638;
    font-size: 40px;
    font-weight: 900;
    padding: 10px 40px 5px;
    transition: 0.5s;
    text-align: center;
}
.price sup{
    font-size: 18px;
    font-weight: 500;
    margin-right: -6px;
    top: -18px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.price sub{
    bottom: 2px;
    color: #4a6f8a;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    vertical-align: baseline;
}
.pricing-features{
    list-style-type: none;
    margin: 0;
    padding: 30px;
    text-align: left;
}
.pricing-features li{
    color: #444683;
    margin-bottom: 13px;
    padding-right: 25px;
    position: relative;
    list-style-type: none;

}
.btn-box{
    padding: 0 30px;
    text-align: left;
}
.btn-box a{
    background-color: #ff5d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 12px 25px 12px 50px;
    position: relative;
    text-align: center;
    transition:.5s ;
    z-index: 1;
    text-decoration: none;
}