#pricing-area{
    background-color: #f4f7fe;
   
}
.pricing-main-container{
    width: 90%;
    margin: auto;
}
.pricing-area-title{
    margin-bottom: 4rem;
    text-align: center;
    
}
.pricing-area-title h2{
    display: inline-block;
    font-size: 44px;
    position: relative;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 40px;
}
.pricing-area-title p{
    display: block;
    margin: 12px auto 0 auto;
    max-width: 600px;
    color: #6b6b84;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.8;
    
}


/* css for price-card */
.pricing-container-wrapper{
    display: flex;
    flex-wrap: wrap;    
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-top: -1rem;
    justify-content: center;
    gap: 80px;
    
    
}
.pricing-container:hover{
    /* box-shadow: 10px 20px 30px rgba(0,0,0,.07); */
    box-shadow: 0 20px 16px rgba(0, 0, 0, 0.07);
   
}
.pricing-container-wrapper .pricing-container{
    flex: 0 0 auto;
    width: 100%;
    max-width: 300px;
    padding: 0.7rem 0.7rem 1.2rem 0.7rem;
    /* padding-left: 0.7rem;
    padding-right: 0.7rem; */
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 4rem;
    /* padding-bottom: 0px; */
    text-align: center;
    transition: 0.5s;
    margin-left: 1.5rem;
    box-shadow: 1px 2px 20px 11px rgba(126,151,161,1);
    
    
}
.pricing-header{
    padding: 20px 40px;
    text-align: center;
    
}
.pricing-header h3{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 0;
    
    
    
}

.price-main {
    /* display: flex; */
    text-align: center;
   
    display: grid;
    justify-content: center;
}
.price{
    
    
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    cursor: default;
    
    border-radius: 100%;
    background-color: #ed5f0d;
    margin-bottom: 10px;
    box-shadow: 0px 0px 12px #ed5f0d;
   
    
    

    
    
    
}

.price-sub{
    margin-top: 5px;
    /* background-color: black; */
    color: #444683;
    font-size: 18px;
    font-weight: 600;
    /* background-color: #ff5d22;
    align-self: baseline; */

   
}


.pricing-features{
    list-style-type: none;
    margin: 0;
    padding: 30px;
    text-align: left;
}
.pricing-features li{
    color: #444683;
    margin-bottom: 13px;
    padding-right: 25px;
    position: relative;
    list-style-type: none;

}
.btn-box{
    padding: 0 30px;
    text-align: center;
}
.btn-box a{
    background-color: #ff5d22;
    border: 2px solid #fe4400;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 12px 25px;
    position: relative;
    text-align: center;
    transition:.5s ;
    z-index: 1;
    text-decoration: none;
}
.btn-box a:hover {
    background-color: #ffa37e;
    border: 2px solid #ff7c58;
    border-radius: 30px;
    
}