*{
    margin: 0;
    padding: 0;
}
html,body{
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    font-size: 17px;
    overflow-x: hidden;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  word-break: break-word;
  word-wrap: break-word;
}
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}