footer{
    background-color: #fefcf8;
    padding-top: 10px;
    position: relative;
    width: 100%;

    
    
}
.footer-wrapper{
    margin: 0 auto;
    padding-left: 0.7rem; 
     padding-right: 0.7rem;
    width: 70%;
    
    
    
}
.footer-content-wrapper{
    display: flex;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-top: 0.7rem;

}

.column {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    
}
.single-footer-widget-4{
    flex:  0 0 auto;
    width: 35%;
    /* background-color: rebeccapurple; */
}
.single-footer-widget-2{
    flex:  0 0 auto;
    width: 35%;
    /* background-color: red; */
}
.single-footer-widget{
    margin-bottom: 30px;
  
    margin-top: 0rem;
    max-width: 100%;
    padding: 0 0.7rem;
}
.single-footer-widget a{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    transition: .5s;
}
p{
    width: 100%;
    color: #6b6b84;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.8;
    margin-bottom: 15px;
    margin-top: 0;
    
}
.single-footer-widget .social-link{
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 18px;
    padding-left: 0;
    
   
}
.social-footer-widget .social-link > li{
    display: inline-block;
    margin-right: 20px;
    
}
.social-footer-widget ul{
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    
}
.social-footer-widget .social-link li a{
    background-color: #84776b;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    height: 30px;
    position: relative;
    text-align: center;
    width: 30px;
    display: block;
    text-decoration: none;
}
.footer-bottom-area{

    border-top: 1px solid #f3f2ee;
    margin-top: 70px;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    margin: -1rem 0.7rem 0 0.7rem;
    align-items: center;
    /* background-color: aqua; */
    
}
.footer-bottom-child{
    flex: 0 0 auto;
    width: 35%;
    max-width: 100%;
    padding: 0 0.7rem;
    /* background-color: olive; */
}
.footer-bottom-child strong{
    color: black;
    font-weight: 900;

}
.footer-bottom-child a {
    text-decoration: none;
    color: #6b6b84;
    
}

.social-link {
    display: flex;
    width: 100px;
    gap: 20px;
}
.footer-logo {
    width: 60%;
    display: flex;
    margin-bottom: 10px;
}
.footer-links-list {
    list-style-type: none;
}

.footer-bottom-child ul{
    list-style-type: none;
}
