footer {
    background-color: #fefcf8;
    padding-top: 10px;
    position: relative;
    width: 100%;
  }
  
  .footer-wrapper {
    margin: 0 auto;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    width: 95%;
  }
  
  .footer-content-wrapper {
    display: flex;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-top: 0.7rem;
    gap: 170px;
  }
  
  .column {
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }
  
  .single-footer-widget {
    margin-bottom: 30px;
    margin-top: 0rem;
    max-width: 100%;
    padding: 0 0.7rem;
  }
  
  .single-footer-widget a {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    transition: .5s;
  }
  
  .single-footer-widget a:hover {
    color: #007bff;
  }
  
  .single-footer-widget-4,
  .single-footer-widget-2 {
    flex: 0 0 auto;
    width: 250px;
  }
  
  .single-footer-widget-2 h3 {
    margin-top: 50px;
  }
  
  .footer-bottom-area {
    border-top: 1px solid #f3f2ee;
    margin-top: 70px;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    margin: -1rem 0.7rem 0 0.7rem;
    align-items: center;
    gap: 53%;
  }
  
  .footer-bottom-child {
    flex: 0 0 auto;
  }
  
  .footer-bottom-child strong {
    color: black;
    font-weight: 900;
  }
  
  .footer-bottom-child a {
    text-decoration: none;
    color: #6b6b84;
  }
  
  .social-link {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-top: 10px;
  }
  
  .social-link a {
    color: #333;
    font-size: large;
  }
  
  .social-link a:hover {
    color: #007bff;
  }
  
  .footer-logo {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  
  .footer-links-list {
    margin-top: 10px;
    list-style-type: none;
  }
  
  .footer-bottom-child ul {
    list-style-type: none;
  }
  
  .footer-bottom-child ul li {
    text-align: end;
    margin-bottom: 10px;
  }
  

  @media (max-width: 767px) {
    .footer-content-wrapper {
        gap: 20px;
    }

    .single-footer-widget-4,
    .single-footer-widget-2 {
        width: 100%; 
    }

    .footer-bottom-area {
        gap: 20px; 
    }

    .footer-bottom-child {
        text-align: center; 
    }
}


@media (max-width: 1024px) {
    
    .footer-content-wrapper {
        flex-direction: column; 
        gap: 0px;
        
        
    }

   

    .single-footer-widget-4,
    .single-footer-widget-2 {
        text-align: center; 
        margin: 0 auto;
    }

    .social-link {
        justify-content: center; 
    }

    .footer-bottom-area {
        flex-direction: column; 
        align-items: center; 
    }

    /* .footer-bottom-child {
        text-align: center; 
        margin: 10px 0; 
        padding: 10px 0;
        width: 100%;
        
    }

    .footer-content-wrapper .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  } */
}