
.siteBannersection{
    background: linear-gradient(75deg, #65258a 10%, #e80566) !important;
    position: relative;
    z-index: 1;
   
}

.bannerContainer {
    width: 90%;
    margin: auto;
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 4rem;
    
   
   
}

.bannerLeftcontnet{
    color: #fff;
    width: 100%;
    margin: 4rem 0rem 4rem 0rem;
}
.bannerLeftcontnet span{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.bannerLeftcontnet h2{
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
    margin: 1rem 0;
    line-height: 1.2;
} 

.bannerLeftcontnet p{
    margin-bottom: 50px;
    line-height: 2;
    
}

.bannerRightcontnet img{
    background-color: #65258a;
    object-fit: cover;
    
}

.sectionButton{
    background: linear-gradient(75deg, #65258a 10%, #e80566) !important;
    /* background-color: #ff5d22; */
    border: 2px solid white;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 12px 25px 12px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    z-index: 1;
}

.sectionButton:hover {
    background: linear-gradient(75deg, #65258a 10%, #e80566) !important;
    border: 2px solid white;
    transform: scale(1.1);
}


@media (max-width: 1024px) {
   
    .wrapper {
        
        flex-direction: column;
        gap: 2rem;
    }

    .bannerLeftcontnet {
        text-align: center;
    }

    .bannerLeftcontnet h2 {
        font-size: 2.5rem;
        text-align: center;
        
    }

    .bannerLeftcontnet span {
        font-size: 1.2rem;
    }

    .bannerLeftcontnet p {
        margin-bottom: 30px;
        text-align: start;
    }

    .bannerRightcontnet img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        background: none;
    }
}

@media (max-width: 767px) {
    

    .wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .bannerLeftcontnet {
        text-align: center;
    }

    .bannerLeftcontnet h2 {
        font-size: 2rem;
        text-align: start;
        
    }

    .bannerLeftcontnet span {
        font-size: 1rem;
    }

    .bannerLeftcontnet p {
        margin-bottom: 20px;
        
    }

    .sectionButton {
        font-size: 14px;
    }

    .bannerRightcontnet img {
        width: 100%;
        height: auto;
        background: none;
    }
}